body{
    align-items: center;
    background-color: #ddd9b5ff;
  }
  
  h2{
    font-size: 150%;
    flex-wrap: 23px ;
    color: blueviolet;
    padding: 0;
    margin: 0px;
  }
  
  h3{
    font-size: 20px;
    flex-wrap: 23px ;
    text-align: left;
    color: rgb(105, 13, 70);
  }
 
 img {
    width: 100%;
    height: 100%;
  }
   
#root_cont{
    width:350px; height:auto; 
    margin: auto;
    padding: 0px;
    background-color:#a55e16;

  }

#header_common{
    width:350px; height:auto; 
    margin: auto;
    background-color:#FFEEDD;
  }
   
#topic_container{
    width:310px; height:auto; 
    margin: auto;
    padding: 20px;
    text-align: center; 
    border-radius: 15px;
    border: 1px solid #2b2c29;
    background-color:#ddd9b5ff;
  /*	border: 1px solid #73AD21;
      background-color:#ddd9b5ff; */
  }
  
.capt_cont{
    width: auto; height: auto;
    padding: 10px;
    text-align: center;
    color: rgb(112, 108, 108);
    background-color: #ede8c2ff;
    border-bottom: 2px solid rgb(185, 169, 23);
  }
  
